/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}


@layer base {
  /* html,
  body {
    font-family: "Yrsa";
    @apply bg-skin-base text-skin-fg;
  } */

  :root {
    --color-background: #fff;
    --color-background-muted: #4b5563;
    --color-background-medium: #d1d5db;

    --color-text: #1f2937;
    --color-header: #171921;
    --color-header-text: 225, 245, 245;
    --color-text-muted: #4b5563;

    --color-focus: #06b6d4;
    --color-anchor: #8b5cf6;
    --color-anchor-hover: #a78bfa;

    --color-primary: #fff;
    --color-secondary: #F24E41;

    --color-gray: #C7C7C7;

    
  }

  .dark {
    --color-background: #171921;
    --color-background-muted: #52525b;
    --color-background-medium: #e5e7eb;

    --color-text: #f9fafb;
    --color-header: #171921;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #d1d5db;

    --color-focus: #84cc16;
    --color-anchor: #f472b6;
    --color-anchor-hover: #ec4899;

    --color-primary: #1e3a8a;
    --color-secondary: #F24E41;
  }
}