/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}


@layer base {
  /* html,
  body {
    font-family: "Yrsa";
    @apply bg-skin-base text-skin-fg;
  } */

  :root {
    --color-background: #fff;
    --color-background-muted: #4b5563;
    --color-background-medium: #d1d5db;

    --color-text: #1f2937;
    --color-header: #171921;
    --color-header-text: 225, 245, 245;
    --color-text-muted: #4b5563;

    --color-focus: #06b6d4;
    --color-anchor: #8b5cf6;
    --color-anchor-hover: #a78bfa;

    --color-info-window: #F3F4F6;
    --color-code: #22262f;

    --color-primary: #fff;
    --color-secondary: #F24E41;

    --color-gray: #C7C7C7;

    
  }

  body .main-wrapper.dark {
    --color-background: #171921;
    --color-background-muted: #52525b;
    --color-background-medium: #e5e7eb;

    --color-text: #f9fafb;
    --color-header: #171921;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #d1d5db;

    --color-focus: #84cc16;
    --color-anchor: #f472b6;
    --color-anchor-hover: #ec4899;

    --color-info-window: #2e313e;
    --color-code: #22262f;

    --color-primary: #1e3a8a;
    --color-secondary: #F24E41;
  }
}

pre[class*=language-] {
  --tw-text-opacity: 1;
  color: rgb(209 213 219/var(--tw-text-opacity));
  
}
.bg-info-window a {
  color: var(--color-secondary)
}

li, li::marker {
  margin-right:0.5rem !important;
  /* display: none;
  visibility: hidden; */
}

